@mixin button($width, $height) {
  width: $width;
  height: $height;
  border-radius: 10px;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
}

@mixin text-shorthand() {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin modal-title() {
  font-size: 2rem;
  font-weight: 500;
}

@mixin modal-close-btn() {
  margin-left: auto;
  outline: none;
}
