@mixin button() {
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
}

@mixin text-shorthand() {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin modal-title() {
  font-size: 1.8rem;
  font-weight: 600;
}

@mixin modal-close-btn() {
  margin-left: auto;
  outline: none;
  cursor: pointer;
}

@mixin form-label() {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: 500;
}

@mixin form-inputs() {
  margin-top: 10px;
  padding: 10px 15px;
  border: 1px solid #808080;
  border-radius: 5px;
  outline: none;
  background-color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
}

@mixin card-border() {
  border: 1px solid rgb(238, 238, 238);
  border-radius: 10px;
  background-color: #ffffff;
}

@mixin error-message() {
  margin-bottom: 20px;
  font-size: 0.75rem;
  font-weight: 500;
  color: #ff6b6b;
}
